[submodule "js/libs/paper.js"]
	path = js/libs/paper.js
	url = git://github.com/paperjs/paper.js.git
[submodule "js/libs/uglifyjs"]
	path = js/libs/uglifyjs
	url = git://github.com/mishoo/UglifyJS.git
[submodule "js/libs/less.js"]
	path = js/libs/less.js
	url = git://github.com/cloudhead/less.js.git
[submodule "js/libs/modernizr"]
	path = js/libs/modernizr
	url = https://github.com/Modernizr/Modernizr.git
[submodule "js/libs/requirejs"]
	path = js/libs/requirejs
	url = git://github.com/jrburke/requirejs.git
[submodule "js/libs/javascript-debug"]
	path = js/libs/javascript-debug
	url = git://github.com/cowboy/javascript-debug.git
[submodule "js/libs/labjs"]
	path = js/libs/labjs
	url = git://github.com/getify/LABjs.git
[submodule "js/libs/sylvester"]
	path = js/libs/sylvester
	url = git://github.com/jcoglan/sylvester.git
[submodule "js/libs/stats.js"]
	path = js/libs/stats.js
	url = git://github.com/mrdoob/stats.js.git
